<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/deudas.css">
    <title>Pagos pendientes</title>
</head>
<body>
    <header>
        <div class="header-back">
            <div class="home-container">
                <p>HOME</p>
                <img src="img/icons/home.svg" alt="">
            </div>
            <div class="login-container">
                <img src="img/icons/user.svg" alt="">
                <p>Iniciar sesion</p>
            </div>
        </div>
    </header>
    <div class="main-container">
    <div class="container-servicio-text">
            <p class="servicio-text">Deudas</p>
            <hr>
        </div>
    <div class="background-img-container">
    <img class="deuda-back" src="img/bckg/kelly-sikkema-M98NRBuzbpc-unsplash.jpg" alt="">
    </div>
        
        <p>A dia de hoy estan son sus deudas, puede generar un recibo para cancelarlar a tiempo para evitar sobrecarga en el precio, cualquier duda
            sobre estos gastos comuniquese con el administrador de su condominio</p>
            <div>
                <table class="table-deudas">
                <tr>
                    <th>ID</th>
                    <th>Descripcion</th>
                    <th>Valor</th>
                    <th>Fecha pago oportuno</th>
                    <th>Tipo de gasto</th>
                    <th>Recibo</th>
                </tr>
                <tr th:each="gastos:${gastos}">
                    <td th:text="${gastos.id}"></td>
                    <td th:text="${gastos.descripcio}"></td>
                    <td th:text="${gastos.valor}"></td>
                    <td th:text="${gastos.pago_oportuno}"></td>
                    <td th:text="${gastos.tipoGasto.descripcion}"></td>
                    <td>
                    <a th:href="@{generarRecibo/{id}(id=${gastos.id})}">
                        <input type="submit" value="Generar recibo">
                    </td>
                </tr>
                        </table>
            </div>
    </div>

    <footer>
        <div class="footer-item"> 
            <p class="subtitle">
                Footer title 1
            </p>
            <div>
                <ul class="bullet-home">
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                </ul>
            </div>
        </div>
        <div class="footer-item">
            <p class="subtitle">
                Footer title 2
            </p>
            <div>
                <ul class="bullet-home">
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                </ul>
            </div>
        </div>
        <div class="footer-item">
            <p class="subtitle">
                Footer title 3
            </p>
            <div>
                <ul class="bullet-home">
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>