<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/welcome.css">
    <title>Seleccionar servicio</title>
</head>
<body>
    <header>
        <div class="header-back">
    		<a th:href="@{/welcome}">
            <div class="home-container">
                <p>HOME</p>
                <img src="img/icons/home.svg" alt="">
            </div>
            </a>
			 <a th:href="@{/servicio}">
			<div class="home-container">
           <p>SERVICIOS</p>
            <img alt="" src="img/icons/circle_custome.png">
			</div>
			</a>
			<a th:href="@{/deuda}">
			<div class="home-container">
           <p>COBROS</p>
             <img alt="" src="img/icons/credit-card.png">
			</div>
			</a>
			<div class="home-container">
            	<form th:action="@{/logout}" method="post">
							<input type="submit" value="Cerrar Sesion" />
				</form>
				<img alt="" src="img/icons/logout.png">
			</div>
        </div>
    </header>
    <div class="main-container">
        <p class="welcome-text">Bievenido</p> 
    </div>
    <img class="back-welcome" src="img/bckg/neal-e-johnson-ddK3u7QVWJQ-unsplash.jpg" alt="">
    <div class="main-container">
          
        <div class="main-select">
            <a th:href="@{/deuda}">
            <div class="select-deudas">
                <input type="btn" value="Consultar deudas">
            </div>        
            </a>
            <img class="img-pay" src="img/icons/pay.svg" alt="">
            <a th:href="@{/servicio}">
            <div class="select-servicio">
                <input type="btn" value="Reservar un servicio">
            </div>
            </a>
            <img class="img-coffe" src="img/icons/coffee.svg" alt="">
        </div>
    </div>

    <footer>
        <div class="footer-item"> 
            <p class="subtitle">
                Footer title 1
            </p>
            <div>
                <ul class="bullet-home">
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                </ul>
            </div>
        </div>
        <div class="footer-item">
            <p class="subtitle">
                Footer title 2
            </p>
            <div>
                <ul class="bullet-home">
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                </ul>
            </div>
        </div>
        <div class="footer-item">
            <p class="subtitle">
                Footer title 3
            </p>
            <div>
                <ul class="bullet-home">
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                    <li>Insert texte here</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>